
# -- Data Sovereignty ----------------------------------------------------------
DATA_MODE=cloud
MQTT_BROKER_HOST=aio-broker-insecure.azure-iot-operations.svc
MQTT_BROKER_PORT=1883
MQTT_TOPIC_PREFIX=drone/telemetry
